.home{
    display:flex;   
    align-items:center;
    padding:50px 20px;
    	
}

.image1 img {
    max-width:100%;
    display:block;
    height:200px;
    width:350;

  }
   
 .text1 h3{

   }

.image2 img {
    max-width:100%;
    display:block;
    height:200px;
    width:350;
    padding-right: 40px;
   }

   .image3 img {
    max-width:100%;
    display:block;
    height:200px;
    width:350;
    padding-right: 40px;
   }

   .image4 img {
    max-width:100%;
    display:block;
    height:200px;
    width:350;
   }
