body {
    font-family: Arial, sans-serif;
    background-color: #0b427d;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container {
    margin-top: 100px;
    display: flex;
    width: 80%;
    background: white;
    border-radius: 8px;
    overflow: hidden;
}

.sidebar {
    width: 30%;
    background: white;
    padding: 40px;
    text-align: center;
    border-right: 2px solid #ddd;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #ddd;
}

.profile-name {
    margin-top: 10px;
    font-size: 22px;
}

.profile-email {
    color: #666;
}

.profile-form {
    width: 70%;
    padding: 40px;
}

.profile-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}


#user{
    color:black;
    font-size: large;
}


#save{
    background: #728498;
    color: white;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

.save-btn:hover {
    background: #4a215f;
}
